<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Ссылки -->
    <link name="base_footprint"/>

    <link name="chassis_box_link">
        <visual>
            <geometry>
                <box size="${chassis_box_length} ${chassis_box_width} ${chassis_box_height}"/>
            </geometry>
            <origin xyz="0 0 ${chassis_box_height / 2.0}" rpy="0 0 0"/>
        </visual>
        <collision>
             <geometry>
                <box size="${chassis_box_length} ${chassis_box_width} ${chassis_box_height}"/>
            </geometry>
            <origin xyz="0 0 ${chassis_box_height / 2.0}" rpy="0 0 0"/>
        </collision>
        <xacro:inertia_of_box mass="${chassis_box_mass}" length="${chassis_box_length}" width="${chassis_box_width}" height="${chassis_box_height}"/>
    </link>

    
    <!-- Соединения -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="chassis_box_link"/>
        <origin xyz="0 0 ${drive_wheel_radius}"/>
    </joint>

</robot>