<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    
    <!-- Объявление макросов -->
    <xacro:macro name="drive_wheel_link" params="prefix">
        <link name="${prefix}_drive_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${drive_wheel_radius}" length="${drive_wheel_height}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
            </visual>
            <collision>
                <geometry>
                    <!-- <cylinder radius="${wheel_radius}" length="${wheel_height}"/> -->
                    <sphere radius="${drive_wheel_radius}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
            </collision>
            <xacro:inertia_of_cylinder mass="${drive_wheel_mass}" height="${drive_wheel_height}" radius="${drive_wheel_radius}"/>
        </link>
    </xacro:macro>

    <xacro:macro name="support_wheel_link" params="prefix">
        <link name="${prefix}_support_wheel_link">
            <visual>
                <geometry>
                    <sphere radius="${support_wheel_radius}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </visual>
            <collision>
                <geometry>
                    <sphere radius="${support_wheel_radius}"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <xacro:inertia_of_sphere mass="${support_wheel_mass}" radius="${support_wheel_radius}"/>
        </link>
    </xacro:macro>
   
    <xacro:macro name="chassis_box_to_drive_wheel_joint" params="position child_name offset" >
        <joint name="chassis_box_to_${position}_drive_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${child_name}"/>
            <origin xyz="0 ${offset} 0"/>
            <axis xyz="0 1 0"/>
        </joint>
    </xacro:macro>
 
    <xacro:macro name="chassis_box_to_support_wheel_joint" params="position child_name offset" >
        <joint name="$chassis_box_to_${position}_support_wheel_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${child_name}"/>
            <origin xyz="${offset} 0 0"/>
        </joint>
    </xacro:macro>

    
    <!-- Вызов макросов -->
    <xacro:drive_wheel_link prefix="left"/>
    <xacro:drive_wheel_link prefix="right"/>

    <xacro:support_wheel_link prefix="front"/>
    <xacro:support_wheel_link prefix="rear"/>

    <xacro:chassis_box_to_drive_wheel_joint position="left" child_name="left_drive_wheel_link" offset="${drive_wheel_separation / 2}"/>
    <xacro:chassis_box_to_drive_wheel_joint position="right" child_name="right_drive_wheel_link" offset="${-drive_wheel_separation / 2}"/>

    <xacro:chassis_box_to_support_wheel_joint position="front" child_name="front_support_wheel_link" offset="${support_wheel_separation / 2}"/>
    <xacro:chassis_box_to_support_wheel_joint position="rear" child_name="rear_support_wheel_link" offset="${-support_wheel_separation / 2}"/>

</robot>